html {cursor:url('/source/cursor.ico'),auto;}
body { background-image:url('/source/psc/psc (1).webp');margin: 0; padding-bottom: 3rem; font-family:seto;font-size:20px;background-attachment: fixed;background-position:top;background-repeat: no-repeat;object-fit:cover;background-size:cover;cursor:url('/source/cursor.ico'),auto;}
.whole {border: 0;padding: 0;margin: 0;width:100%;height:100%;}

#form { background:transparent; padding: 0.25rem; position:absolute; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; border-radius:8px; }
#input { font-family:seto;border: none;padding:0px 15px;font-size:20px; flex-grow: 1; border-radius: 2rem; margin: 0.25rem;background:rgba(255, 255, 255, 0.7); }
#input:focus { outline: none; }
#form > button { font-family:seto;background: rgb(207, 110, 110);font-size:18px; border: none; padding: 0 0.7rem; margin: 0.25rem; border-radius: 5px; outline: none; color: #fff; }
#inputname {color:#ad4234;width:250px;background:transparent;border:0;border-bottom:2.5px solid #ad4234;flex-grow: 1;margin:8px 0px 0px 0px;font-size:28px;padding:4px 15px;font-family:seto;z-index:100;text-align:center}
#inputname:focus { outline: none; }


#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { word-wrap:break-word;padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: rgba(255, 112, 112, 0.2); }

.area {background-color:rgba(255, 193, 193, 0.4);height:200px;width:740px;margin:auto;border-radius:12px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);display:flex;flex-wrap:wrap;}
.modal {display: none;text-align:center;position: fixed;z-index: -50;left: 0;top: 0;width: 100%; height: 100%;overflow: auto; background-color: rgb(0,0,0); background-color:#fcf3ec82;;z-index:100 }
.card {bottom:0;height:100%;width:100%;right:0;}
.main {position:fixed;left:40px;top:70px;display:none;width:50%;background-color:rgba(255, 255, 255, 0.3);width:560px;height:500px;border-radius:12px;border:6px solid rgb(255, 136, 136);backdrop-filter: blur(4px);box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);transition:0.4s;}
.main:hover {box-shadow:none;}
.desk {display:none;position:fixed;right:40px;top:70px;background-color:rgba(255, 255, 255, 0.3);width:760px;height:540px;border-radius:12px;border:6px solid rgb(255, 136, 136);backdrop-filter: blur(4px);box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);transition:0.4s;padding:0px 10px;overflow:hidden;}
.desk:hover {box-shadow:none;}
.option {color:white;margin:40px 15px;background-color:rgb(233, 113, 113);border:4px solid rgb(233, 113, 113);border-radius:8px;padding:10px;font-size:28px;animation:appear 0.5s 1;position:relative;z-index:100;transition:0.4s;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)}
.option:hover {background-color:transparent;color:rgb(233, 113, 113);box-shadow:none;}
#headline {font-size:24px;display:block;width:50%;padding:7px 0px;border-radius:6px;}
.list {height:135px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);width:46%;margin:12px 2%;background-color:rgba(255, 163, 163, 0.523);border-radius:16px;padding:0;backdrop-filter: blur(8px);-webkit-transition: 0.4s;transition: 0.4s;overflow:hidden;}
.list:hover {box-shadow:none;}
#roomlist {display:flex;padding:20px 4%;flex-wrap:wrap}
.headtext {font-size:28px;position:relative;top:-80px;text-overflow:ellipsis;width:100px;overflow:hidden;}
#create {position:absolute;bottom:0px;font-size:25px;display:block;width:100%;padding:7px 0px;background-image:linear-gradient(45deg,rgb(255, 180, 180) 25%,rgb(255, 136, 136) 25% 50%,rgb(255, 180, 180) 50% 75%,rgb(255, 136, 136) 75% 100%);text-align:center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)}
#title {position:sticky;top:0px;font-size:26px;display:block;width:100%;padding:7px 0px;background-image:linear-gradient(45deg,rgb(255, 180, 180) 25%,rgb(255, 136, 136) 25% 50%,rgb(255, 180, 180) 50% 75%,rgb(255, 136, 136) 75% 100%);text-align:center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)}
.chat {color:black;text-decoration:none;position:fixed;top:0px;right:0px;font-size:23px;display:block;width:70px;padding:7px 10px;background-color:transparent}
@keyframes appear{
  from {right:-800px;}
  to {right:0px;}
}
@font-face
{
  font-family:seto;
  src: url('/source/seto.woff2');
}