.table {
	background: #fcf3ec26;
	backdrop-filter: blur(6px);
	margin: 170px auto 0 auto;
	width:300px;
	height:200px;
	--offset: 16px;
	--border-size: 4px;
	display: block;
	position: relative;
	padding: 1.5em 3em;
	-webkit-appearance: none;
		-moz-appearance: none;
			appearance: none;
	border: 0;
	background: transparent;
	color: #e55743;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	outline: none;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: 0.5s ease;
}
.table:hover {
	background: rgba(100, 0, 0, 0.03);
}
.table__horizontal, .table__vertical {
	position: absolute;
	top: var(--horizontal-offset, 0);
	right: var(--vertical-offset, 0);
	bottom: var(--horizontal-offset, 0);
	left: var(--vertical-offset, 0);
	transition: transform 0.8s ease;
	will-change: transform;
}
.table__horizontal::before, .table__vertical::before {
	content: "";
	position: absolute;
	border: inherit;
}
.table__horizontal {
	--vertical-offset: calc(var(--offset) * -1);
	border-top: var(--border-size) solid currentcolor;
	border-bottom: var(--border-size) solid currentcolor;
}
.table__horizontal::before {
	top: calc(var(--vertical-offset) - var(--border-size));
	bottom: calc(var(--vertical-offset) - var(--border-size));
	left: calc(var(--vertical-offset) * -1);
	right: calc(var(--vertical-offset) * -1);
}
.table:hover .table__horizontal {
	transform: scaleX(0);
}
.table__vertical {
	--horizontal-offset: calc(var(--offset) * -1);
	border-left: var(--border-size) solid currentcolor;
	border-right: var(--border-size) solid currentcolor;
}
.table__vertical::before {
	top: calc(var(--horizontal-offset) * -1);
	bottom: calc(var(--horizontal-offset) * -1);
	left: calc(var(--horizontal-offset) - var(--border-size));
	right: calc(var(--horizontal-offset) - var(--border-size));
}
.table:hover .table__vertical {
	transform: scaleY(0);
}

.switch {
	left:90px;
	top:12px;
	position: relative;
	display: inline-block;
	width: 56px;
  	height: 30px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 180, 180);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  	background-color: #e55743;
}

input:focus + .slider {
  	box-shadow: 0 0 1px #e55743;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.button-container-1 {
	left:90px;
	padding:0px;
	outline:4px solid #e55743;
	outline-offset:-2px;
	position: relative;
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	overflow: hidden;
	border: 1px solid;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 20px;
	transition: 0.5s;
	letter-spacing: 1px;
	border-radius:8px;
}
.button-container-1 button {
	width: 101%;
	height: 100%;
	font-family:seto;
	font-size: 26px;
	letter-spacing: 1px;
	background: #e55743;
	-webkit-mask: url('/source/nature-sprite.webp');
	mask: url('/source/nature-sprite.webp');
	-webkit-mask-size: 2300% 100%;
	mask-size: 2300% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(22) forwards;
	animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
	-webkit-animation: ani 0.7s steps(22) forwards;
	animation: ani 0.7s steps(22) forwards;
}
.mas {
	font-family:seto;
	position: absolute;
	color: #ad4234;
	text-align: center;
	width: 101%;
	position: absolute;
	font-size: 26px;
	margin-top: 12px;
	overflow: hidden;
}
@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}
@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

.scroll{
	left:-95px;
	top:-100px;
    width: 150px;
	height: 8px;
	border-radius: 3px; 
    background: rgb(230, 168, 168);
	margin: 100px;
	position: relative;
}
.bar{
	width: 14px;
	height: 14px;
	border-radius: 50%; 
    background: #FFFFFF;
	box-shadow: 0 0 15px 5px #e55743;
	position: absolute;
	top: -3.6px;
	left: -4px;
}
.mask{
	width: 0;
	height: 100%;
	border-radius: 3px; 
    background: #e55743;
}
.bar .tooltiptext {
	text-align:center;
    visibility: hidden;
    width: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px 5px 4.5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -17.5px;
}
.bar .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.bar:hover .tooltiptext {
    visibility: visible;
}

.msgbox {
	backdrop-filter: blur(6px);
	overflow:hidden;
	height:414px;
}
.msgbox:hover {
	overflow:auto;
}
.msgbox::-webkit-scrollbar {
    width: 8px;
}
.msgbox::-webkit-scrollbar-track {
    background-color:transparent;
    border-radius: 100px;
}
.msgbox::-webkit-scrollbar-thumb {
    background-color: rgb(207, 110, 110);
    border-radius: 100px;
}

.card-filp {
	top:22px;
	margin-left:11.5px;
	height: 160px;
	width: 110px;
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
	z-index:100;
}

.front,
.back {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	backface-visibility:hidden
}
.back {
	transform: rotateY(180deg);
}
.card-filp:hover {
	transform: rotateY(180deg);
}