.maintain {
  width: 300px;
  height: 50px;
  text-align: center;
  position:fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #ce4233;
}
.loader {
  font-size:22px;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  letter-spacing: 0.1em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  -webkit-animation: load 0.7s infinite alternate ease-in-out;
          animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

.taiji
{
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E %3Cpath fill='rgb(255, 100, 100)' d='M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 376c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm0-128c-53.02 0-96 42.98-96 96s42.98 96 96 96c-106.04 0-192-85.96-192-192S141.96 64 248 64c53.02 0 96 42.98 96 96s-42.98 96-96 96zm0-128c-17.67 0-32 14.33-32 32s14.33 32 32 32 32-14.33 32-32-14.33-32-32-32z'%3E%3C/path%3E %3C/svg%3E");
  width:100px;
  height:102px;
  margin: 0 auto;
  animation:rotate 2s linear infinite;
  display:block;background-position:top;background-repeat: no-repeat;background-size:cover;
}
@keyframes rotate
{
  0%   { transform: rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.letter {
  animation: bounce 4s cubic-bezier(0.05, 0, 0.2, 1) infinite;
  display: inline-block;
  margin-top:30px;
  font-size:32px;
}
.letter:nth-child(1) {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.5s;
}
.letter:nth-child(3) {
  animation-delay: 1s;
}
.letter:nth-child(4) {
  animation-delay: 1.5s;
}
.letter:nth-child(5) {
  animation-delay: 2s;
}
.letter:nth-child(6) {
  animation-delay: 2.5s;
}
.letter:nth-child(7) {
  animation-delay: 3s;
}
.letter:nth-child(8) {
  animation-delay: 3.5s;
}
@keyframes bounce {
	0% {transform: translate3d(0, 0, 0);
	}
  6.25% {transform: translate3d(0, -0.7em, 0);
    
  }
  12.5% {
    transform: translate3d(0, 0, 0);
  }
}