html {cursor:url('/source/cursor.ico'),auto;}
body { margin: 0; padding-bottom: 3rem; font-family:seto;font-size:20px;background-attachment: fixed;background-position:top;background-repeat:repeat;object-fit:cover;background-size:cover;cursor:url('/source/cursor.ico'),auto;
}
.whole {border: 0;padding: 0;margin: 0;width:100%;height:100%;}

#form { background: rgb(255, 160, 160,0.4); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { font-family:seto;border: none;padding:0px 15px;font-size:20px; flex-grow: 1; border-radius: 2rem; margin: 0.25rem;background:rgba(255, 255, 255, 0.7); }
#input:focus { outline: none; }
#form > button { font-family:seto;background: rgb(207, 110, 110);font-size:18px; border: none; padding: 0 0.7rem; margin: 0.25rem; border-radius: 5px; outline: none; color: #fff; }
#inputname {color:white;width:142px;background:transparent;border:0;border-bottom:2.5px solid white;flex-grow: 1;margin:65px 0px;font-size:18px;padding:4px 15px;font-family:seto;z-index:100;text-align:center}
#inputname:focus { outline: none; }
#inputname::placeholder {color:rgb(209, 209, 209)}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: rgba(239, 239, 239, 0.131);backdrop-filter: blur(6px); }

.modal {z-index:100;display: none;text-align:center;position: fixed;z-index: -50;left: 0;top: 0;width: 100%; height: 100%;overflow: auto; background-color: rgb(0,0,0); background-color: rgba(255, 255, 255, 0.4); }
.modal-content {background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4gPHBhdGggZmlsbD0icmdiKDE5MCwgNTAsIDUwKSIgZD0iTTM3Ni40NSAzMmgtMjQwLjlBMzAzLjE3IDMwMy4xNyAwIDAgMSAwIDB2OTZjMCAxNy42NyAxNC4zMyAzMiAzMiAzMmgzMnY2NEgxNmMtOC44NCAwLTE2IDcuMTYtMTYgMTZ2MzJjMCA4Ljg0IDcuMTYgMTYgMTYgMTZoNDh2MjQwYzAgOC44NCA3LjE2IDE2IDE2IDE2aDMyYzguODQgMCAxNi03LjE2IDE2LTE2VjI1NmgyNTZ2MjQwYzAgOC44NCA3LjE2IDE2IDE2IDE2aDMyYzguODQgMCAxNi03LjE2IDE2LTE2VjI1Nmg0OGM4Ljg0IDAgMTYtNy4xNiAxNi0xNnYtMzJjMC04Ljg0LTcuMTYtMTYtMTYtMTZoLTQ4di02NGgzMmMxNy42NyAwIDMyLTE0LjMzIDMyLTMyVjBhMzAzLjE3IDMwMy4xNyAwIDAgMS0xMzUuNTUgMzJ6TTEyOCAxMjhoOTZ2NjRoLTk2di02NHptMjU2IDY0aC05NnYtNjRoOTZ2NjR6Ij48L3BhdGg+IDwvc3ZnPg==');margin: 170px auto 0 auto; padding: 20px 20px;border:0;width:300px;height:300px; }
.outline {position:relative;top:-70px;width:150px;height:150px;display:block;background-image: radial-gradient(rgb(251, 99, 99),rgb(251, 99, 99), transparent,transparent);border: none;padding: 0;margin: 0 auto;border-radius: 3px;outline: none;color: #fff;}
.close {display:none;color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}
.title {z-index:100;background-image:linear-gradient(45deg,rgb(253, 180, 180) 25%,rgb(255, 136, 136) 25% 50%,rgb(255, 180, 180) 50% 75%,rgb(255, 136, 136) 75% 100%);position:sticky;top:0px;font-size:26px;display:block;width:100%;padding:7px 0px;text-align:center;}
.chess {color:black;text-decoration:none;position:fixed;top:0px;right:0px;font-size:23px;display:block;width:70px;padding:7px 10px;background-color:transparent;z-index:100}
@font-face
{
  font-family:seto;
  src: url('/source/seto.woff2');
}